{% extends 'base.html' %}
{% block title %}
	<title>Leaderboard</title>
{% endblock %}
{% block body %}
	{% load basketball_tags bootstrap3 %}
	<div class="page-header">
		<h3 class="accent">Leaderboard</h3>
	</div>
	<div>
		<div class="row">
			<div class="col-md-12">
				<a id="toggle_filterform" style="cursor: pointer;">{% bootstrap_icon "menu-down" %}Toggle Filter Options</a>
			</div>
		</div>
		<form id="filter_form" method="GET" style="display:none;">
			<div class="row">
				<div class="col-md-2">
					{% bootstrap_field form.season %}
				</div>
				<div class="col-md-2">
					{% bootstrap_field form.possessions_min %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<button type="submit" name="submit" class="btn btn-primary btn-block">Filter</button>
				</div>
			</div>
		</form>
	</div>
	<ul class="nav nav-tabs" role="tablist" style="margin-top:15px;">
		<li role="presentation" {% if not default_tab %}class="active"{% endif %}>
			<a href="#overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a>
		</li>
		<li role="presentation" {% if default_tab == "totals" %}class="active"{% endif %}>
			<a href="#totals" aria-controls="profile" role="tab" data-toggle="tab">Totals</a>
		</li>
		<li role="presentation" {% if default_tab == "adv_totals" %}class="active"{% endif %}>
			<a href="#advtotals" aria-controls="profile" role="tab" data-toggle="tab">Adv. Totals</a>
		</li>
		<li role="presentation" {% if default_tab == "possessions" %}class="active"{% endif %}>
			<a href="#possessions" aria-controls="profile" role="tab" data-toggle="tab">Per 100</a>
		</li>
		<li role="presentation" {% if default_tab == "advpossessions" %}class="active"{% endif %}>
			<a href="#advpossessions" aria-controls="profile" role="tab" data-toggle="tab">Adv. Per 100</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane {% if not default_tab %}active{% endif %}" id="overview">
			<h3 class="accent">Per 100 Possessions</h3>
			<div style="color: #777;font-size:17px;width:100%;">Data from {% if season %}{{ season }}{% else %}all seasons{% endif %} with a minimum of {{ possessions_min }} total possessions</div>
			{% lb_overview '5v5' %}
		</div>
		<div role="tabpanel" class="tab-pane {% if default_tab == "totals" %}active{% endif %}" id="totals">
			<h3 class="accent">Totals</h3>
			<div style="color: #777;font-size:17px;width:100%;">Data from {% if season %}{{ season }}{% else %}all seasons{% endif %}</div>
			{% lb_totals season=season %}
		</div>
		<div role="tabpanel" class="tab-pane {% if default_tab == "adv_totals" %}active{% endif %}" id="advtotals">
			<h3 class="accent">Advanced Totals</h3>
			<div style="color: #777;font-size:17px;width:100%;">Data from {% if season %}{{ season }}{% else %}all seasons{% endif %}</div>
			{% lb_adv_totals season=season %}
		</div>

		<div role="tabpanel" class="tab-pane {% if default_tab == "possessions" %}active{% endif %}" id="possessions">
			<h3 class="accent">Per 100 Possessions</h3>
			<div style="color: #777;font-size:17px;width:100%;">Data from {% if season %}{{ season }}{% else %}all seasons{% endif %} with a minimum of {{ possessions_min }} total possessions</div>
			{% lb_possessions season=season %}
		</div>
		<div role="tabpanel" class="tab-pane {% if default_tab == "adv_possessions" %}active{% endif %}" id="advpossessions">
			<h3 class="accent">Advanced Per 100 Possessions</h3>
			<div style="color: #777;font-size:17px;width:100%;">Data from {% if season %}{{ season }}{% else %}all seasons{% endif %} with a minimum of {{ possessions_min }} total possessions</div>
			{% lb_adv_possessions season=season %}
		</div>
	</div>
	<script type="text/javascript">
		$("#toggle_filterform").click(function(){
			$('#filter_form').toggle();
		});
	</script>
{% endblock %}
{% block active_tab %}
	<script>$('#leaderboard_link').addClass('active')</script>
{% endblock %}
