

<!DOCTYPE html>

<html lang="en">

  <head>
	{% block title %}
		<title>Saturday Ball</title>
	{% endblock %}
	{% block head %}
	{% load bootstrap3 %}
	{% load basketball_tags %}
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>	
	{% endblock %}
  </head>

  <body>
	{% block top_menu %}
    
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <div class="navbar-brand" style="color:white;">Saturday Ball</div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li id="home_link"><a href="{% url 'root' %}">Home <span class="sr-only">(current)</span></a></li>
			<li id="players_link"><a href="{% url 'players_home' %}">Players</a></li>
			<li id="games_link"><a href="{% url 'games_home' %}">Games</a></li>
			<li id="leaderboard_link"><a href="{% url 'leaderboard_home' %}">Leaderboard</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			  <li id="admin_link"><a href="{% url 'admin:index' %}">{% if request.user.is_superuser %}Admin{% else %}Log In{% endif %}</a></li>
			</ul>
    </div>
</nav>

	</div>
	{% endblock %}
	<div class="container" style="margin-bottom:100px;margin-top:80px;">
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% block body %}
		<div class="page-header">
			<h3 class="accent"><div style="display:inline;">Last Week:</div> <div style="display:inline;">{{games.0.date }}</div></h3>
		</div>
		<div class="row">
			{% for game in games %}
				<div class="col-xs-6 col-sm-4 col-md-2 panel panel-default" style="padding:0px;">
					<table class="game-nibblet">
						<tr>
							<td class="game-title" colspan=2><a href="{{ game.get_absolute_url }}"><u>{{ game.title }}</u></a></td>
						</tr>
						<tr>
							<td class="team-name">Good Guys:</td>
							<td class="team-score">{{ game.team1_score }}</td>
						</tr>
						<tr>
							<td class="team-name">Bad Guys:</td>
							<td class="team-score">{{ game.team2_score }}</td>			
						</tr>
					</table>
				</div>	
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="embed-responsive embed-responsive-16by9" style="margin-top:15px;">
					<div id=player></div>
				</div>
				<div class="col-sm-6" style="margin-top:10px;">
					<div style="font-size:24px;border-bottom:1px solid;text-align:center;">Top Plays</div>
					{% for play in top_plays %}
						<div>
							{{ forloop.counter }} 
							{% if forloop.counter < 10 %}-{% endif %} <a onclick='seekPlayerToPlay({{ play.time|seconds }},"{{ play.game.youtube_id }}")' style="cursor:pointer;">
								{% bootstrap_icon "play" %}</a> - 
							{{ play.game.title }}: {{ play.description }}
						</div>
					{% endfor %}
				</div>
				<div class="col-sm-6" style="margin-top:10px;">
					<div style="font-size:24px;border-bottom:1px solid;text-align:center;">Not So Top Plays</div>
					{% for play in not_top_plays %}
						<div>
							{{ forloop.counter }} 
							{% if forloop.counter < 10 %}-{% endif %} <a onclick='seekPlayerToPlay("{{ play.time|seconds }}","{{ play.game.youtube_id }}")' style="cursor:pointer;">
								{% bootstrap_icon "play" %}</a> - 
							{{ play.game.title }}: {{ play.description }}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<h3 class="accent">Standings</h3>
				<table class="table">
					<thead>
					<th>
						<td>W</td>
						<td>L</td>
					</th>
				</thead>
					{% for player in standings %}
						<tr>
							<td>{{ player }}</td>
							<td>{{ player.total_wins }}</td>
							<td>{{ player.total_losses }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<script>
	    var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		
		var player;
		var timeout;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
			videoId: '{{ top_plays.0.game.youtube_id }}',
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
				}
			});
		}
		function onPlayerReady(event) {
			event.target.seekTo({{ top_plays.0.time|seconds }});
		}
		function seekPlayerToPlay(time,youtube_id) {
			player.cueVideoById({videoId:youtube_id,
					startSeconds:time,
					suggestedQuality:"hd1080"})
			jumpToAnchor();
			clearTimeout(timeout);
			timeout = setTimeout(stopVideo, 12000);
			player.playVideo();
		}
		var done = false;
		function onPlayerStateChange(event) {
		if (event.data == YT.PlayerState.PLAYING && !done) {
			clearTimeout(timeout);
			timeout = setTimeout(stopVideo, 12000);
			done = true;
			}
		}
		function stopVideo() {
	        player.stopVideo();
		}
		function jumpToAnchor() {
			window.location = String(window.location).replace(/\#.*$/, "") + "#player";
		}
    </script>
	{% endblock %}
	</div>	
	{% block active_tab %}
		<script>$('#home_link').addClass('active')</script>
	{% endblock %}
	
  </body>
</html>
