

<!DOCTYPE html>

<html lang="en" ng-app='saturdayBall'>

  <head>
		<title>Saturday Ball</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <script type="text/javascript" src="{% static 'bower_components/lodash/lodash.js'%}"></script>
  <script type="text/javascript"src="{% static 'bower_components/angular/angular.js'%}"></script>
  <script type="text/javascript"src="{% static 'bower_components/angular-route/angular-route.js'%}"></script>
  <script type="text/javascript"src="{% static 'bower_components/angular-animate/angular-animate.js'%}"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript"src="{% static 'bower_components/angular-youtube-mb/src/angular-youtube-embed.js'%}"></script>
  <script type="text/javascript" src="{% static 'modules/saturdayball.js' %}"></script>
  <script type="text/javascript" src="{% static 'config/router.js' %}"></script>
  <script type="text/javascript" src="{% static 'config/routeResolver.js' %}"></script>
  <script type="text/javascript" src="{% static 'config/rootScope.js' %}"></script>
  <script type="text/javascript" src="{% static 'config/constants.js' %}"></script>

  <!-- Controllers -->
  <script type="text/javascript" src="{% static 'controllers/AddPlaysController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/GroupSettingsController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/CreateGroupController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/RegisterController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/NavigationController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/LeaderboardController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/TotalsLeaderboardController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/AdvTotalsBoardController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/Per100BoardController.js' %}"></script>
  <script type="text/javascript" src="{% static 'controllers/AdvPer100BoardController.js' %}"></script>

  <!-- Services -->
  <script type="text/javascript" src="{% static 'services/UserService.js' %}"></script>
  <script type="text/javascript" src="{% static 'services/Session.js' %}"></script>
  <script type="text/javascript" src="{% static 'services/GameService.js' %}"></script>
  <script type="text/javascript" src="{% static 'services/GroupService.js' %}"></script>
  <script type="text/javascript" src="{% static 'services/StatlineService.js' %}"></script>
  <script type="text/javascript" src="{% static 'services/PlayerService.js' %}"></script>
  <script type="text/javascript" src="{% static 'services/Per100Service.js' %}"></script>

  <!-- Directives -->
  <script type="text/javascript" src="{% static 'directives/smallLeaderboard.js' %}"></script>
  <script type="text/javascript" src="{% static 'directives/NgConfirmClick.js' %}"></script>
  <base href="/">
  </head>

  <body>


<div ng-controller="NavigationController">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
  		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  			<span class="sr-only">Toggle navigation</span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		  </button>
  		  <div class="navbar-brand" style="color:white;">Saturday Ball</div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  		  <ul class="nav navbar-nav">
  			<li><a target="_self" href="{% url 'grouproot' 1 %}">Home <span class="sr-only">(current)</span></a></li>
  			<li><a target="_self" href="{% url 'players_home' 1 %}">Players</a></li>
  			<li ng-class="{active: $route.current.activetab == 'games'}"><a target="_self" href="{% url 'games_home' 1 %}">Games</a></li>
  			<li ng-class="{active: $route.current.activetab == 'leaderboard'}"><a href="/group/1/leaderboard">Leaderboard</a></li>
  			<li><a target="_self" href="{% url 'records_home' 1 %}">Records</a></li>
        <li ng-if="isGroupAdmin.length" ng-class="{active: $route.current.activetab == 'settings'}"><a href="/group/1/settings" style="color: gold;">Settings</a></li>
  		  </ul>
        {% verbatim %}
        <ul class="nav navbar-nav navbar-right">
  				<li ng-if="!user.username"><a target="_self" href="/login">Login</a></li>
  				<li ng-if="!user.username"><a href="/register">Signup</a></li>

  			  <li ng-if="user.username"><a target="_self" href="/logout">Log Out</a></li>
          <li ng-if="user.username == 'master'" id="admin_link"><a target="_self" href="/admin">Admin</a></li>
          <li ng-if="user.username" class="dropdown">
            <a href="#" style="color: white;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li style="padding: 3px 20px;">Your Groups</li>
              <li role="separator" class="divider"></li>
              <li ng-repeat="group in user.admin_groups"><a target="_self" href="/group/{{group[0]}}/" style="text-decoration: underline;">{{ group[1] }}</a></li>
              <li ng-repeat="group in user.member_groups"><a target="_self" href="/group/{{group[0]}}/" style="text-decoration: underline;">{{ group[1] }}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Create a new Group</a></li>
            </ul>
          </li>
    		</ul>
        {% endverbatim %}
      </div>
  </div>
  </nav>
  <div class="container" style="margin-bottom:100px;margin-top:80px;">
    <div ng-view></div>
	</div>
</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-66942273-1', 'auto');
		ga('send', 'pageview');
	</script>
  </body>
</html>
