<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip({
		container : 'body'
	});
});
</script>
<div class="table-responsive">
	<table class="table">
		<tr style="background:#d9edf7">
			<td></td>
			<td data-toggle="tooltip" title="Games Played">GP</td>
			<td data-toggle="tooltip" title="Field Goals Made (Any made basket)">FGM</td>
			<td data-toggle="tooltip" title="Field Goals Attempted (Any basket attempted)">FGA</td>
			<td data-toggle="tooltip" title="Three Pointers Made (Any shot made behind the 3point line)">3PM</td>
			<td data-toggle="tooltip" title="Three Pointers Attempted (Any shot attempted behind the 3point line)">3PA</td>
			<td data-toggle="tooltip" title="Offensive Rebounds (A rebound after a teammate/self misses)">Off</td>
			<td data-toggle="tooltip" title="Defensive Rebounds (A rebound after an opponent misses)">Def</td>
			<td data-toggle="tooltip" title="Total Rebounds (A rebound after any miss)">Reb</td>
			<td data-toggle="tooltip" title="Assists (A pass that leads to a score)">Ast</td>
			<td data-toggle="tooltip" title="Potential Assist (A pass that would’ve lead to a score if the receiver made the shot)">P.Ast</td>
			<td data-toggle="tooltip" title="Turnover (Anytime you give the ball to the other team)">TO</td>
			<td data-toggle="tooltip" title="Steals (Anytime you cause a turnover from the other team)">Stl</td>
			<td data-toggle="tooltip" title="Blocks (Whenever you deflect a shot attempt)">Blk</td>
			<td data-toggle="tooltip" title="Blocks Allowed (How many shot attempts have been deflected)">BA</td>
			<td data-toggle="tooltip" title="Fouls Drawn (Whenever you are fouled)">FD</td>
			<td data-toggle="tooltip" title="Personal Fouls (Amount of fouls that you have been called on)">PF</td>
			<td data-toggle="tooltip" title="Points (Amount of points scored)">Pts</td>
			{% block extra_headers %}{% endblock %}
		</tr>
		{% for value in season_data_list %}
			<tr>
				{% block row_data %}{% endblock %}
			</tr>
		{% endfor %}
			<tr style="background:#d9edf7">
				<td>Overall</td>
				{% block overall_data %}{% endblock %}
			</tr>
	</table>	
</div>
