

<!DOCTYPE html>

<html lang="en" ng-app='saturdayBall'>

  <head>
		<title>Saturday Ball</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'bower_components/angular-bootstrap/ui-bootstrap-csp.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/styles/game.css' %}" type="text/css">

	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <script type="text/javascript" src="{% static 'bower_components/lodash/lodash.js'%}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular/angular.js'%}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js'%}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js'%}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-youtube-mb/src/angular-youtube-embed.js'%}"></script>
  <script type="text/javascript" src="{% static 'build/app.concat.js' %}"></script>
  <base href="/">
  </head>

  <body>


<div ng-controller="NavigationController">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">

      <div class="navbar-header">
  		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  			<span class="sr-only">Toggle navigation</span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		  </button>
  		  <div class="navbar-brand" style="color:white;">Saturday Ball</div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% verbatim %}
  		  <ul ng-if="$route.current.params.groupId" class="nav navbar-nav">
  			<li>
          <a target="_self" ng-href="/group/{{$route.current.params.groupId}}">Home <span class="sr-only">(current)</span></a>
        </li>
  			<li>
          <a target="_self" ng-href="/group/{{$route.current.params.groupId}}/players/">Players</a>
        </li>
  			<li ng-class="{active: $route.current.activetab == 'games'}">
          <a ng-href="/group/{{$route.current.params.groupId}}/games/">Games</a>
        </li>
  			<li ng-class="{active: $route.current.activetab == 'leaderboard'}">
          <a href="/group/{{$route.current.params.groupId}}/leaderboard">Leaderboard</a>
        </li>
  			<li>
          <a target="_self" ng-href="/group/{{$route.current.params.groupId}}/records">Records</a>
        </li>
        <li ng-if="RoleHelper.isAdmin(user, $route.current.params.groupId)" ng-class="{active: $route.current.activetab == 'settings'}">
          <a ng-href="/group/{{$route.current.params.groupId}}/settings" style="color: gold;">Settings</a>
        </li>
  		  </ul>

        <ul class="nav navbar-nav navbar-right">
  				<li ng-hide="user.username"><a target="_self" href="accounts/login">Login</a></li>
  				<li ng-hide="user.username"><a href="/register">Signup</a></li>

          <li ng-show="user.username == 'master'" id="admin_link"><a target="_self" href="/admin">Admin</a></li>
          <li ng-show="user.username" class="dropdown">
            <a href="#" style="color: white;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span ng-bind="user.username"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="permission in user.group_permissions">
                <a target="_self" href="/group/{{permission[0]}}/" style="text-decoration: underline;">
                  {{ permission[1] }}
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="/group/create/">Create a new Group</a></li>
              <li><a target="_self" href="/logout">Log Out</a></li>
            </ul>
          </li>
    		</ul>
        {% endverbatim %}
      </div>
  </div>
  </nav>
  <div class="container" style="margin-bottom:100px;margin-top:80px;">
    <div ng-view></div>
	</div>
</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-66942273-1', 'auto');
		ga('send', 'pageview');

    $(document).ready(function () {
      $(".navbar-nav li a:not(.dropdown-toggle)").click(function(event) {
        $(".navbar-collapse").collapse('hide');
      });
    });
	</script>
  </body>
</html>
