

<!DOCTYPE html>

<html lang="en">

  <head>
	{% block title %}
		<title>Home</title>
	{% endblock %}
	{% block head %}
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>	
	{% endblock %}
  </head>

  <body>
	{% block top_menu %}
    <div class="jumbotron">
		<h1>Saturday ball</h1>{{ STATIC_URL }}
	<img src="http://www.citiscapes-art.com/cities/photos/1.jpg" class="visible-xs img-responsive" alt="Responsive image">
    </div>

<nav class="navbar navbar-inverse navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:white;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Players</a></li>
		<li><a href="#">Games</a></li>
		<li><a href="#">Leaderboard</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
	</div>
	{% endblock %}
	<div class="container">
	{% block body %}
		{% for game in latest_games %}
		<a href='{{ game.get_absolute_url }}'>{{ game }}</a><br>
		{% endfor %}	
	{% endblock %}
	</div>
  </body>
</html>
