{% extends 'base.html' %}
{% block title %}
	<title>Games</title>
{% endblock %}
{% block body %}
	<div class="page-header">
	<h3 class="accent">Games</h3>
</div>
	{% for key,value in group_list.items %}
		<div class="row">
			<div class="col-sm-12">
				<h3 style="display:inline;">{{ key }}</h3>
				<form method="get" action="{% url 'recap' value.0.pk %}" style="display:inline;">
					<button type="submit" class="btn btn-primary btn-xs" style="margin-bottom:10px;margin-left:5px;">Recap</button>
				</form>
			</div>
		</div>
		<div class="row">
		{% for game in value %}
			<div class="col-xs-6 col-sm-4 col-md-2 panel panel-default" style="padding:0px;">
				<table class="game-nibblet">
					<tr>
						<td class="game-title" colspan=2><a href="{{ game.get_absolute_url }}"><u>{{ game.title }}</u></a></td>
					</tr>
					<tr>
						<td class="team-name">Good Guys:</td>
						<td class="team-score">{{ game.team1_score }}</td>
					</tr>
					<tr>
						<td class="team-name">Bad Guys:</td>
						<td class="team-score">{{ game.team2_score }}</td>			
					</tr>
				</table>
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
{% block active_tab %}
	<script>$('#games_link').addClass('active')</script>
{% endblock %}

