<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip({
		container : 'body'
	});
});
</script>
{% load bootstrap3 %}
<div class="table-responsive">
	<table class="table table-hover">
		<tr style="background:#d9edf7">
			<td></td>
			<td data-toggle="tooltip" title="Games Played">
				<a href="?pos-sort=gp&active_pill={{key}}{{ get_string }}">GP</a>
				{% if pos_sort_col == 'gp' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Points">
				<a href="?pos-sort=points&active_pill={{key}}{{ get_string }}">Pts</a>
				{% if pos_sort_col == 'points' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Field Goal Percentage.  Percentage of Field Goals made">
				<a href="?pos-sort=fgm_percent&active_pill={{key}}{{ get_string }}">FGM %</a>
				{% if pos_sort_col == 'fgm_percent' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="3 Point Percentage. Percentage of 3 pointers made">
				<a href="?pos-sort=threepm_percent&active_pill={{key}}{{ get_string }}">3PM %</a>
				{% if pos_sort_col == 'threepm_percent' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="True Shooting Percentage. Percentage of Field Goals made with the 3 pointers weighed higher.  Formula is Points / FGA">
				<a href="?pos-sort=ts_percent&active_pill={{key}}{{ get_string }}">TS %</a>
				{% if pos_sort_col == 'ts_percent' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Assists">
				<a href="?pos-sort=asts&active_pill={{key}}{{ get_string }}">Asts</a>
				{% if pos_sort_col == 'asts' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Potential Assists. A pass that would’ve lead to a score if the receiver made the shot.">
				<a href="?pos-sort=pot_ast&active_pill={{key}}{{ get_string }}">P.Asts</a>
				{% if pos_sort_col == 'pot_ast' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Defensive Rebounds">
				<a href="?pos-sort=dreb&active_pill={{key}}{{ get_string }}">Dreb</a>
				{% if pos_sort_col == 'dreb' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Offensive Rebounds">
				<a href="?pos-sort=oreb&active_pill={{key}}{{ get_string }}">Oreb</a>
				{% if pos_sort_col == 'oreb' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Percentage of defensive rebounds grabbed against total defensive rebounds available">
				<a href="?pos-sort=dreb_percent&active_pill={{key}}{{ get_string }}">Dreb %</a>
				{% if pos_sort_col == 'dreb_percent' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Percentage of offensive rebounds grabbed against total offensive rebounds available">
				<a href="?pos-sort=oreb_percent&active_pill={{key}}{{ get_string }}">Oreb %</a>
				{% if pos_sort_col == 'oreb_percent' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Steals (Anytime you cause a turnover from the other team)">
				<a href="?pos-sort=total_rebounds&active_pill={{key}}{{ get_string }}">Reb</a>
				{% if pos_sort_col == 'total_rebounds' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Blocks (Whenever you deflect a shot attempt)">
				<a href="?pos-sort=treb_percent&active_pill={{key}}{{ get_string }}">Reb %</a>
				{% if pos_sort_col == 'treb_percent' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Steals">
				<a href="?pos-sort=stls&active_pill={{key}}{{ get_string }}">Stls</a>
				{% if pos_sort_col == 'stls' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Turnovers">
				<a href="?pos-sort=to&active_pill={{key}}{{ get_string }}">To</a>
				{% if pos_sort_col == 'to' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Blocks">
				<a href="?pos-sort=blk&active_pill={{key}}{{ get_string }}">Blk</a>
				{% if pos_sort_col == 'blk' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Points scored per 100 possessions while you’re on the floor">
				<a href="?pos-sort=off_rating&active_pill={{key}}{{ get_string }}">Off.Rating</a>
				{% if pos_sort_col == 'off_rating' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
			<td data-toggle="tooltip" title="Points scored against your per 100 possessions while you’re on the floor">
				<a href="?pos-sort=def_rating&active_pill={{key}}{{ get_string }}">Def.Rating</a>
				{% if pos_sort_col == 'def_rating' %}{% bootstrap_icon 'sort-by-order-alt' %}{% endif %}
			</td>
		</tr>
		{% for value in player_pos_list %}
			<tr>
				<td><a href="{{ value.player_obj.get_absolute_url }}">{{ value.player_obj }}</a></td>
				<td>{{ value.gp|floatformat }}</td>
				<td>{{ value.points|floatformat }}</td>
				<td>{{ value.fgm_percent|floatformat }}</td>
				<td>{{ value.threepm_percent|floatformat }}</td>
				<td>{{ value.ts_percent|floatformat }}</td>
				<td>{{ value.asts|floatformat }}</td>
				<td>{{ value.pot_ast|floatformat }}</td>
				<td>{{ value.dreb|floatformat }}</td>
				<td>{{ value.oreb|floatformat }}</td>
				<td>{{ value.dreb_percent|floatformat }}</td>
				<td>{{ value.oreb_percent|floatformat }}</td>
				<td>{{ value.total_rebounds|floatformat }}</td>
				<td>{{ value.treb_percent|floatformat }}</td>
				<td>{{ value.stls|floatformat }}</td>
				<td>{{ value.to|floatformat }}</td>
				<td>{{ value.blk|floatformat }}</td>
				<td>{{ value.off_rating|floatformat }}</td>
				<td>{{ value.def_rating|floatformat }}</td>
			</tr>
		{% empty %}
			<tr>
				<td>No data recorded yet</td>
			</tr>
		{% endfor %}
	</table>	
</div>
