{% load basketball_tags %}
<div class="table-responsive" style="margin-top:25px;">
	<table id="totals_table" class="table table-hover">
		<tr style="background:#d9edf7;">
			<td></td>
			<td data-toggle="tooltip" title="Field Goals Made (Any made basket)">FGM</td>
			<td data-toggle="tooltip" title="Field Goals Attempted (Any basket attempted)">FGA</td>
			<td data-toggle="tooltip" title="Three Pointers Made (Any shot made behind the 3point line)">3PM</td>
			<td data-toggle="tooltip" title="Three Pointers Attempted (Any shot attempted behind the 3point line)">3PA</td>
			<td data-toggle="tooltip" title="Offensive Rebounds (A rebound after a teammate/self misses)">Off</td>
			<td data-toggle="tooltip" title="Defensive Rebounds (A rebound after an opponent misses)">Def</td>
			<td data-toggle="tooltip" title="Total Rebounds (A rebound after any miss)">Reb</td>
			<td data-toggle="tooltip" title="Assists (A pass that leads to a score)">Ast</td>
			<td data-toggle="tooltip" title="Potential Assist (A pass that would’ve lead to a score if the receiver made the shot)">P.Ast</td>
			<td data-toggle="tooltip" title="Blocks (Whenever you deflect a shot attempt)">Blk</td>
			<td data-toggle="tooltip" title="Blocks Allowed (How many shot attempts have been deflected)">BA</td>
			<td data-toggle="tooltip" title="Steals (Anytime you cause a turnover from the other team)">Stl</td>
			<td data-toggle="tooltip" title="Turnover (Anytime you give the ball to the other team)">TO</td>
			<td data-toggle="tooltip" title="Fouls Drawn (Whenever you are fouled)">FD</td>
			<td data-toggle="tooltip" title="Personal Fouls (Amount of fouls that you have been called on)">PF</td>
			<td data-toggle="tooltip" title="Points (Amount of points scored)">Pts</td>
			<td data-toggle="tooltip" title="Offensive Possessions (Amount of offensive possessions player was a part of)">Off Pos</td>
			<td data-toggle="tooltip" title="Defensive Possessions (Amount of defensive possessions player was a part of)">Def Pos</td>
		</tr>
	<tbody>
		{% for player_name,value in player_dict.items %}
			<tr>
				{% if forloop.counter == 1 and forloop.last %}
					<td></td>
				{% else %}
				<td>{{ player_name }}</td>
				{% endif %}
				<td>{{ value.fgm__sum }}</td>
				<td>{{ value.fga__sum }}</td>
				<td>{{ value.threepm__sum }}</td>
				<td>{{ value.threepa__sum }}</td>
				<td>{{ value.oreb__sum }}</td>
				<td>{{ value.dreb__sum }}</td>
				<td>{{ value.total_rebounds__sum }}</td>
				<td>{{ value.asts__sum }}</td>
				<td>{{ value.pot_ast__sum }}</td>	
				<td>{{ value.blk__sum }}</td>
				<td>{{ value.ba__sum }}</td>
				<td>{{ value.stls__sum }}</td>
				<td>{{ value.to__sum }}</td>
				<td>{{ value.fd__sum }}</td>
				<td>{{ value.pf__sum }}</td>
				<td>{{ value.points__sum }}</td>
				<td>{{ value.off_pos__sum }}</td>
				<td>{{ value.def_pos__sum }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

