{% extends 'base.html' %}
{% block title %}
	<title>Leaderboard</title>
{% endblock %}
{% block body %}
	{% load basketball_tags %}
	{% load bootstrap3 %}
	<div class="page-header">
		<h3 class="accent">Leaderboard</h3>
	</div>
	<div>
		<div class="row">
			<div class="col-md-12">
				<a id="toggle_filterform" style="cursor: pointer;">{% bootstrap_icon "menu-down" %}Toggle Filter Options</a>
			</div>
		</div>
		<form id="filter_form" method="GET" style="display:none;">
			<div class="row">
				<div class="col-md-2">
					{% bootstrap_field form.season %}
				</div>
				<div class="col-md-2">
					{% bootstrap_field form.possessions_min %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<button type="submit" name="submit" class="btn btn-primary btn-block">Filter</button>
				</div>
			</div>
		</form>
	</div>
	<ul class="nav nav-tabs" role="tablist" style="margin-top:15px;">
		<li role="presentation" {% if not default_tab %}class="active"{% endif %}>
			<a href="#5on5" aria-controls="home" role="tab" data-toggle="tab">5on5</a>
		</li>
		<li role="presentation" {% if default_tab == "5on5-totals" %}class="active"{% endif %}>
			<a href="#totals" aria-controls="profile" role="tab" data-toggle="tab">5on5 Totals</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane {% if not default_tab %}active{% endif %}" id="5on5">
			{% lb_five_on_five_pos '5v5' %}
		</div>
		<div role="tabpanel" class="tab-pane {% if default_tab == "5on5-totals" %}active{% endif %}" id="totals">
			<h3 class="accent">5 on 5 Total Stats</h3>
			<div style="color: #777;font-size:17px;width:100%;">Totals from {% if season %}{{ season }}{% else %}all seasons{% endif %}</div>
			{% lb_totals season=season%}
		</div>
	</div>
	<script type="text/javascript">
		$("#toggle_filterform").click(function(){
			$('#filter_form').toggle();
		});
	</script>
{% endblock %}
{% block active_tab %}
	<script>$('#leaderboard_link').addClass('active')</script>
{% endblock %}
