{% extends 'base.html' %}
{% block body %}
{% load bootstrap3 %}
<div class="page-header">
	<h3 class="accent">Log In</h3>
</div>
<form method=post action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
	<div class="row">
		<div class="col-md-4">
			{% bootstrap_field form.username %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{% bootstrap_field form.password %}
		</div>
	</div>
	<input class="btn btn-primary" type="submit" value="Log in">
</form>
{% endblock %}
