{% extends 'base_stat_table.html' %}
{% block row_data %}
	<td>{{ value.season }}</td>
	<td>{{ value.gp }}</td>
	<td>{{ value.fgm|floatformat }}</td>
	<td>{{ value.fga|floatformat }}</td>
	<td>{{ value.threepm|floatformat }}</td>
	<td>{{ value.threepa|floatformat }}</td>
	<td>{{ value.oreb|floatformat }}</td>
	<td>{{ value.dreb|floatformat }}</td>
	<td>{{ value.total_rebounds|floatformat }}</td>
	<td>{{ value.asts|floatformat }}</td>
	<td>{{ value.pot_ast|floatformat }}</td>
	<td>{{ value.to|floatformat }}</td>
	<td>{{ value.stls|floatformat }}</td>
	<td>{{ value.blk|floatformat }}</td>
	<td>{{ value.ba|floatformat }}</td>
	<td>{{ value.fd|floatformat }}</td>
	<td>{{ value.pf|floatformat }}</td>
	<td>{{ value.points|floatformat }}</td>
{% endblock %}
{% block overall_data %}
	<td>{{ overall.gp }}</td>
	<td>{{ overall.fgm|floatformat }}</td>
	<td>{{ overall.fga|floatformat }}</td>
	<td>{{ overall.threepm|floatformat }}</td>
	<td>{{ overall.threepa|floatformat }}</td>
	<td>{{ overall.oreb|floatformat }}</td>
	<td>{{ overall.dreb|floatformat }}</td>
	<td>{{ overall.total_rebounds|floatformat }}</td>
	<td>{{ overall.asts|floatformat }}</td>
	<td>{{ overall.pot_ast|floatformat }}</td>
	<td>{{ overall.to|floatformat }}</td>
	<td>{{ overall.stls|floatformat }}</td>
	<td>{{ overall.blk|floatformat }}</td>
	<td>{{ overall.ba|floatformat }}</td>
	<td>{{ overall.fd|floatformat }}</td>
	<td>{{ overall.pf|floatformat }}</td>
	<td>{{ overall.points|floatformat }}</td>
{% endblock %}
