{% extends 'base_stat_table.html' %}
{% block row_data %}
	<td>{{ value.season }}</td>
	<td>{{ value.gp }}</td>
	<td>{{ value.fgm__avg|floatformat }}</td>
	<td>{{ value.fga__avg|floatformat }}</td>
	<td>{{ value.threepm__avg|floatformat }}</td>
	<td>{{ value.threepa__avg|floatformat }}</td>
	<td>{{ value.oreb__avg|floatformat }}</td>
	<td>{{ value.dreb__avg|floatformat }}</td>
	<td>{{ value.total_rebounds__avg|floatformat }}</td>
	<td>{{ value.asts__avg|floatformat }}</td>
	<td>{{ value.pot_ast__avg|floatformat }}</td>
	<td>{{ value.to__avg|floatformat }}</td>
	<td>{{ value.stls__avg|floatformat }}</td>
	<td>{{ value.blk__avg|floatformat }}</td>
	<td>{{ value.ba__avg|floatformat }}</td>
	<td>{{ value.fd__avg|floatformat }}</td>
	<td>{{ value.pf__avg|floatformat }}</td>
	<td>{{ value.points__avg|floatformat }}</td>
{% endblock %}
{% block overall_data %}
	<td>{{ overall.gp }}</td>
	<td>{{ overall.fgm__avg|floatformat }}</td>
	<td>{{ overall.fga__avg|floatformat }}</td>
	<td>{{ overall.threepm__avg|floatformat }}</td>
	<td>{{ overall.threepa__avg|floatformat }}</td>
	<td>{{ overall.oreb__avg|floatformat }}</td>
	<td>{{ overall.dreb__avg|floatformat }}</td>
	<td>{{ overall.total_rebounds__avg|floatformat }}</td>
	<td>{{ overall.asts__avg|floatformat }}</td>
	<td>{{ overall.pot_ast__avg|floatformat }}</td>
	<td>{{ overall.to__avg|floatformat }}</td>
	<td>{{ overall.stls__avg|floatformat }}</td>
	<td>{{ overall.blk__avg|floatformat }}</td>
	<td>{{ overall.ba__avg|floatformat }}</td>
	<td>{{ overall.fd__avg|floatformat }}</td>
	<td>{{ overall.pf__avg|floatformat }}</td>
	<td>{{ overall.points__avg|floatformat }}</td>
{% endblock %}
