{% extends 'base_stat_table.html' %}
{% block row_data %}
	<td>{{ value.season }}</td>
	<td>{{ value.gp }}</td>
	<td>{{ value.fgm }}</td>
	<td>{{ value.fga }}</td>
	<td>{{ value.threepm }}</td>
	<td>{{ value.threepa }}</td>
	<td>{{ value.oreb }}</td>
	<td>{{ value.dreb }}</td>
	<td>{{ value.total_rebounds }}</td>
	<td>{{ value.asts }}</td>
	<td>{{ value.pot_ast }}</td>
	<td>{{ value.to }}</td>
	<td>{{ value.stls }}</td>
	<td>{{ value.blk }}</td>
	<td>{{ value.ba }}</td>
	<td>{{ value.fd }}</td>
	<td>{{ value.pf }}</td>
	<td>{{ value.points }}</td>
{% endblock %}
{% block overall_data %}
	<td>{{ overall.gp }}</td>
	<td>{{ overall.fgm }}</td>
	<td>{{ overall.fga }}</td>
	<td>{{ overall.threepm }}</td>
	<td>{{ overall.threepa }}</td>
	<td>{{ overall.oreb }}</td>
	<td>{{ overall.dreb }}</td>
	<td>{{ overall.total_rebounds }}</td>
	<td>{{ overall.asts }}</td>
	<td>{{ overall.pot_ast }}</td>
	<td>{{ overall.to }}</td>
	<td>{{ overall.stls }}</td>
	<td>{{ overall.blk }}</td>
	<td>{{ overall.ba }}</td>
	<td>{{ overall.fd }}</td>
	<td>{{ overall.pf }}</td>
	<td>{{ overall.points }}</td>
{% endblock %}
