{% extends 'base_stat_table.html' %}
{% block row_data %}
	<td>{{ value.season }}</td>
	<td>{{ value.gp }}</td>
	<td>{{ value.fgm__sum }}</td>
	<td>{{ value.fga__sum }}</td>
	<td>{{ value.threepm__sum }}</td>
	<td>{{ value.threepa__sum }}</td>
	<td>{{ value.oreb__sum }}</td>
	<td>{{ value.dreb__sum }}</td>
	<td>{{ value.total_rebounds__sum }}</td>
	<td>{{ value.asts__sum }}</td>
	<td>{{ value.pot_ast__sum }}</td>
	<td>{{ value.to__sum }}</td>
	<td>{{ value.stls__sum }}</td>
	<td>{{ value.blk__sum }}</td>
	<td>{{ value.ba__sum }}</td>
	<td>{{ value.fd__sum }}</td>
	<td>{{ value.pf__sum }}</td>
	<td>{{ value.points__sum }}</td>
{% endblock %}
{% block overall_data %}
	<td>{{ overall.gp }}</td>
	<td>{{ overall.fgm__sum }}</td>
	<td>{{ overall.fga__sum }}</td>
	<td>{{ overall.threepm__sum }}</td>
	<td>{{ overall.threepa__sum }}</td>
	<td>{{ overall.oreb__sum }}</td>
	<td>{{ overall.dreb__sum }}</td>
	<td>{{ overall.total_rebounds__sum }}</td>
	<td>{{ overall.asts__sum }}</td>
	<td>{{ overall.pot_ast__sum }}</td>
	<td>{{ overall.to__sum }}</td>
	<td>{{ overall.stls__sum }}</td>
	<td>{{ overall.blk__sum }}</td>
	<td>{{ overall.ba__sum }}</td>
	<td>{{ overall.fd__sum }}</td>
	<td>{{ overall.pf__sum }}</td>
	<td>{{ overall.points__sum }}</td>
{% endblock %}
