<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Points:</b> {{ points.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Asts:</b> {{ asts.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Pot.Asts:</b> {{ pot_ast.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Def.Reb:</b>{{ dreb.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Off.Reb:</b>{{ oreb.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Tot.reb:</b>{{ total_rebounds.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Def.reb %: </b>{{ dreb_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Off.reb %: </b>{{ oreb_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Tot.reb %: </b>{{ treb_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>TS %: </b>{{ ts_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Off.Rating %: </b>{{ orating_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Def.Rating %: </b>{{ drating_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Stls: </b>{{ stls.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>TO: </b>{{ to.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>FGM %: </b>{{ fgm_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>3PM %: </b>{{ three_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Off.reb %: </b>{{ oreb_percent.0.1|floatformat }}
</div>
<div class="col-xs-6 col-sm-3 col-md-4">
	<b>Off.reb %: </b>{{ oreb_percent.0.1|floatformat }}
</div>
