<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip({
		container : 'body'
	});
});
</script>
<div class="table-responsive">
	<table class="table">
		<tr style="background:#d9edf7">
			<td></td>
			<td data-toggle="tooltip" title="Games Played">GP</td>
			<td data-toggle="tooltip" title="Field Goals Made (Any made basket)">FGM</td>
			<td data-toggle="tooltip" title="Field Goals Attempted (Any basket attempted)">FGA</td>
			<td data-toggle="tooltip" title="Three Pointers Made (Any shot made behind the 3point line)">3PM</td>
			<td data-toggle="tooltip" title="Three Pointers Attempted (Any shot attempted behind the 3point line)">3PA</td>
			<td data-toggle="tooltip" title="Offensive Rebounds (A rebound after a teammate/self misses)">Off</td>
			<td data-toggle="tooltip" title="Defensive Rebounds (A rebound after an opponent misses)">Def</td>
			<td data-toggle="tooltip" title="Total Rebounds (A rebound after any miss)">Reb</td>
			<td data-toggle="tooltip" title="Assists (A pass that leads to a score)">Ast</td>
			<td data-toggle="tooltip" title="Potential Assist (A pass that would’ve lead to a score if the receiver made the shot)">P.Ast</td>
			<td data-toggle="tooltip" title="Turnover (Anytime you give the ball to the other team)">TO</td>
			<td data-toggle="tooltip" title="Steals (Anytime you cause a turnover from the other team)">Stl</td>
			<td data-toggle="tooltip" title="Blocks (Whenever you deflect a shot attempt)">Blk</td>
			<td data-toggle="tooltip" title="Blocks Allowed (How many shot attempts have been deflected)">BA</td>
			<td data-toggle="tooltip" title="Fouls Drawn (Whenever you are fouled)">FD</td>
			<td data-toggle="tooltip" title="Personal Fouls (Amount of fouls that you have been called on)">PF</td>
			<td data-toggle="tooltip" title="Points (Amount of points scored)">Pts</td>
		</tr>
		{% for key,value in player_totals_dict.items %}
			<tr>
				<td>{{ key }}</td>
				<td>{{ value.gp }}</td>
				<td>{{ value.fgm__sum|floatformat }}</td>
				<td>{{ value.fga__sum|floatformat }}</td>
				<td>{{ value.threepm__sum|floatformat }}</td>
				<td>{{ value.threepa__sum|floatformat }}</td>
				<td>{{ value.oreb__sum|floatformat }}</td>
				<td>{{ value.dreb__sum|floatformat }}</td>
				<td>{{ value.total_rebounds__sum|floatformat }}</td>
				<td>{{ value.asts__sum|floatformat }}</td>
				<td>{{ value.pot_ast__sum|floatformat }}</td>
				<td>{{ value.to__sum|floatformat }}</td>
				<td>{{ value.stls__sum|floatformat }}</td>
				<td>{{ value.blk__sum|floatformat }}</td>
				<td>{{ value.ba__sum|floatformat }}</td>
				<td>{{ value.fd__sum|floatformat }}</td>
				<td>{{ value.pf__sum|floatformat }}</td>
				<td>{{ value.points__sum|floatformat }}</td>
			</tr>
		{% empty %}
			<tr>
				<td>No data recorded yet</td>
			</tr>
		{% endfor %}
			<tr style="background:#d9edf7">	
				<td>Total</td>
				<td>{{ totals.gp }}</td>
				<td>{{ totals.fgm__sum|floatformat }}</td>
				<td>{{ totals.fga__sum|floatformat }}</td>
				<td>{{ totals.threepm__sum|floatformat }}</td>
				<td>{{ totals.threepa__sum|floatformat }}</td>
				<td>{{ totals.oreb__sum|floatformat }}</td>
				<td>{{ totals.dreb__sum|floatformat }}</td>
				<td>{{ totals.total_rebounds__sum|floatformat }}</td>
				<td>{{ totals.asts__sum|floatformat }}</td>
				<td>{{ totals.pot_ast__sum|floatformat }}</td>
				<td>{{ totals.to__sum|floatformat }}</td>
				<td>{{ totals.stls__sum|floatformat }}</td>
				<td>{{ totals.blk__sum|floatformat }}</td>
				<td>{{ totals.ba__sum|floatformat }}</td>
				<td>{{ totals.fd__sum|floatformat }}</td>
				<td>{{ totals.pf__sum|floatformat }}</td>
				<td>{{ totals.points__sum|floatformat }}</td>
			</tr>
	</table>	
</div>
