<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="step-header-anchor" style="display:block;height:50px;margin-top:-50px;visibility:hidden; col-md-12"></div>
    <h3>1. What happened?</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-6">
    <div ng-click="pwc.step0('fgm')" class="col-md-1 col-md-offset-2 col-xs-12 btn btn-primary play-wizard-button">
      FGM
    </div>
    <div ng-click="pwc.step0('threepm')" class="col-md-1 col-md-offset-1 col-xs-12 btn btn-primary play-wizard-button">
      3PM
    </div>
    <div ng-click="pwc.step0('blk')" class="col-md-1 col-md-offset-2 col-xs-12 btn btn-primary play-wizard-button">
      BLK
    </div>
    <div ng-click="pwc.step0('pf')" class="col-md-1 col-md-offset-1 col-xs-12 btn btn-primary play-wizard-button">
      FOUL
    </div>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="col-md-2 play-wizard-button visible-md-block" style="height: 34px"></div>
    <div ng-click="pwc.step0('fga')" class="col-md-1 col-md-offset-1 col-xs-12 btn btn-primary play-wizard-button">
      FGA
    </div>
    <div ng-click="pwc.step0('threepa')" class="col-md-1 col-md-offset-1 col-xs-12 btn btn-primary play-wizard-button">
      3PA
    </div>
    <div ng-click="pwc.step0('to')" class="col-md-1 col-md-offset-1 col-xs-12 btn btn-primary play-wizard-button">
      TO
    </div>
    <div ng-click="pwc.step0('sub_out')" class="col-md-1 col-md-offset-1 col-xs-12 btn btn-primary play-wizard-button">
      SUB OUT
    </div>
  </div>
</div>
