@media (min-width: 1200px) {
	  .container {
		      width: 970px;
			    }
			}

.jumbotron{
	margin-bottom:0px;
}

.top_5_table{
	width:100%;
	margin-top:15px;
	margin-right:20px;
}

ul.messages li {
	text-align:center;
	list-style-type: none;
	padding: 15px;
}
