{% extends 'players/home.html' %}
{% load basketball_tags %}
{% load player_tags %}
{% block title %}
<title>{{ player.get_full_name }}</title>
{% endblock %}
{% block content %}
{% load staticfiles %}
{% load thumbnail %}
<div class="container">
	<div class="row">
		<div class="page-header">
			<h2 class="accent" style="{% if not request.user.is_anonymous %}display:inline;{% endif %}">{{ player.get_full_name }}</h2> 
			{% if not request.user.is_anonymous %}
				<form style="display:inline;" action="{% url 'edit_player' id=player.id %}">
					<button type="submit" class="btn btn-primary btn-sm" style="margin:-10px 0px 0px 10px;">Edit Player Details</button>
				</form>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7 col-sm-6 col-md-3">
			{% if player.image_src %}
			<img src="{% thumbnail player.image_src 200x200 crop %}" class="img-responsive img-rounded" style="margin:0px auto;">
			{% else %}
				<img src="{% thumbnail object.image|default:'signup_male.png' 200x200 %}" class="img-responsive img-rounded" style="margin:0px auto;">
			{% endif %}
		</div>
		<div class="col-xs-5 col-sm-6 col-md-3">
			<table style="min-height: 10em; vertical-align: middle; margin-left:-15px;">
				<tr>
					<td style="font-weight:bold;">DOB: </td>
					<td style="padding-left:5px;">{% if player.birth_date %}{{ player.birth_date }}{% else %}TBD{% endif %}</td>
				</tr>
				<tr>
					<td style="font-weight:bold;">Height: </td>
					<td style="padding-left:5px;">{% if player.height %}{{ player.height }}{% else %}TBD{% endif %}</td>
				</tr>
				<tr>
					<td style="font-weight:bold;">Position: </td>
					<td style="padding-left:5px;">{% if player.position %}{{ player.position }}{% else %}TBD{% endif %}</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 padding:0px auto;">
			<div class="visible-xs-block visible-sm-block">
				<hr>
			</div>
			<h4 class="accent">Per 100 averages</h4>
			{% player_five_on_five_pos player.pk %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist" style="margin:5px 0px;">
				
				{% if has_top_plays %}
				<li role="presentation" class="active"><a href="#highlights" aria-controls="home" role="tab" data-toggle="tab" style="font-weight:bold;">Highlights</a></li>
				{% endif %}
				<li role="presentation" {% if not has_top_plays %}class="active"{% endif %}><a href="#averages" aria-controls="averages" role="tab" data-toggle="tab" style="font-weight:bold;">Averages</a></li>
				<li role="presentation"><a href="#totals" aria-controls="totals" role="tab" data-toggle="tab" style="font-weight:bold;">Totals</a></li>
				<li role="presentation"><a href="#per100" aria-controls="per100" role="tab" data-toggle="tab" style="font-weight:bold;">Per 100</a></li>
				<li role="presentation"><a href="#advper100" aria-controls="advper100" role="tab" data-toggle="tab" style="font-weight:bold;">Adv Per 100</a></li>

				<li role="presentation"><a href="#gamelog" aria-controls="gamelog" role="tab" data-toggle="tab" style="font-weight:bold;">Game Log</a></li>
			</ul>
			<div class="tab-content">
				
				{% if has_top_plays %}
					<div role="tabpanel" class="tab-pane active" id="highlights" style="padding-top:15px;">
						{% player_highlights player.id %}
					</div>
				{% endif %}
				
				{# Highlights  #}
				<div role="tabpanel" class="tab-pane {% if not has_top_plays %}active{% endif %}" id="averages" style="padding-top:15px;">
					{% for key, value in game_type_averages.items %}
					<div class="row">
						<div class="col-sm-12">
							<h4 class="accent">{{ key }} Averages</h4>
							{% include "players/averages_table.html" with season_data_list=value overall=averages|access:key %}
						</div>
					</div>
					{% empty %}
						<h4 class="accent">Averages</h4>
						No recorded data yet
					{% endfor %}
				</div>

				{# Totals #}
				<div role="tabpanel" class="tab-pane" id="totals" style="padding-top:15px;">
					<div class="row">
						<div class="col-sm-12">
							<h4 class="accent">Totals</h4>
							{% player_totals player_id=player.pk %}
						</div>
					</div>
				</div>
				
				{# Per 100 #}
				<div role="tabpanel" class="tab-pane" id="per100" style="padding-top:15px;">
					<div class="row">
						<div class="col-sm-12">
							<h4 class="accent">Per 100</h4>
							{% player_possessions player_id=player.pk %}
						</div>
					</div>
				</div>
				
				{# Adv Per 100 #}
				<div role="tabpanel" class="tab-pane" id="advper100" style="padding-top:15px;">
					<div class="row">
						<div class="col-sm-12">
							<h4 class="accent">Adv Per 100</h4>
							{% player_adv_possessions player_id=player.pk %}
						</div>
					</div>
				</div>

				
				{# Adv Totals #}
				<div role="tabpanel" class="tab-pane" id="totals" style="padding-top:15px;">
					{% for key, value in game_type_totals.items %}
						<div class="row">
							<div class="col-sm-12">
								<h4 class="accent">{{ key }} Totals</h4>
								{% include "players/totals_table.html" with season_data_list=value overall=totals|access:key %}
							</div>
						</div>
					{% empty %}
						<h4 class="accent">Totals</h4>
						No recorded data yet
					{% endfor %}
				</div>

				{# Gamelog  #}
				<div role="tabpanel" class="tab-pane" id="gamelog" style="padding-top:15px;">
					<div class="row">
						<div class="col-sm-12">
							<h4 class="accent">Game Log</h4><br />
							<ul class="nav nav-pills">
								<li role="presentation" class="active"><a href="#5on5" aria-controls="home" role="tab" data-toggle="tab">5on5</a></li>
								<li role="presentation"><a href="#4on4" aria-controls="profile" role="tab" data-toggle="tab">4on4</a></li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="5on5">
									{% player_box_score statlines "#d9edf7" "5v5" %}
								</div>
								<div role="tabpanel" class="tab-pane" id="4on4">
									{% player_box_score statlines "#d9edf7" "4v4" %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
