{% extends 'base.html' %}
{% block title %}
	<title>Players</title>
{% endblock %}
{% block content %}
	{% load staticfiles thumbnail bootstrap3 %}
	<div class="page-header">
		<h3 class="accent">Players - {% if season %} {{ season }} {% else %} All {% endif %}</h3>
	</div>
	{% if canEdit %}
		<div class="row">
			<div class="col-md-1">
				<form action="{% url 'create_player' group_id=group.id %}">
					<input class="btn btn-primary btn-sm" type="submit" value="Create New Player">
				</form>
			</div>
		</div><br>
	{% endif %}
	<div>
		<div class="row">
			<div class="col-md-12">
				<a id="toggle_filterform" style="cursor: pointer;">{% bootstrap_icon "menu-down" %}Toggle Filter Options</a>
			</div>
		</div>
		<form id="filter_form" method="GET" style="display: none;">
			<div class="row">
				<div class="col-md-2">
					{% bootstrap_field form.season %}
				</div>
					</div>
			<div class="row">
				<div class="col-md-1">
					<button type="submit" name="submit" class="btn btn-primary btn-block">Filter</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		{% for player in players %}
			<div class="col-xs-4 col-sm-2 col-equal" style="margin-top:15px;text-align:center;">
				<a href="{{ player.get_absolute_url }}">
				{% if player.image_src %}
					<img src="{% thumbnail player.image_src 200x200 crop %}" class="img-responsive img-circle">
				{% else %}
					<img src="{% thumbnail object.image|default:'signup_male.png' 200x200 %}" class="img-responsive img-circle">
				{% endif %}
				{{player}}</a>
			</div>
			<div class="col-sm-offset-1"></div>
		{% empty %}
			<div class="col-sm-12" style="font-size: 18px; margin-top:15px;">No players created yet</div>
		{% endfor %}
	</div>
	<script type="text/javascript">
		$("#toggle_filterform").click(function(){
			$('#filter_form').toggle();
		});
	</script>
{% endblock %}
{% block active_tab %}
	<script>$('#players_link').addClass('active')</script>
{% endblock %}
