{% extends 'table_base.html' %}
{% load bootstrap3 %}
{% load basketball_tags %}
{% block headers %}
	<td data-toggle="tooltip" title="{{ header.title }}">
		{{ header.header }}
	</td>
{% endblock %}
{% block rows %}
	<td>{{ value.title }}</td>
	{% for header in headers %}
		<td>{{ value|access:header.stat }}</td>
	{% endfor %}
{% endblock %}
{% block footer %}
	{% if totals_footer %}
		{% with totals=totals_footer|access:type %}
			<tr style="background:#d9edf7">	
				<td>Total</td>
				{% for header in headers %}
					<td>{{ totals|access:header.stat}}</td>
				{% endfor %}
			</tr>
		{% endwith %}
	{% endif %}
{% endblock %}
