
<div class="row splash-header">
  <div class="col-md-11 col-md-offset-1 col-xs-11 splash-header-box">
    <div style="display:inline-block;">
      <div class="splash-header-text">
        <span>
          Saturday<br>Ball.com
        </span>
      </div>
      <p class="splash-header-subtext">
        A pick up basketball stat tracker
      </p>
    </div>
  </div>
</div>

<div class="row splash-about">
    <div class="col-md-12 splash-about-text">
      <p>
        A website for basketball groups to record their stats!<br>
        It's easy to get started too. Just create a group, add some players and start entering in games!<br>
        It doesn't matter whether the games are 1v1 or 5v5, start recording stats today!<br>
      </p>
    </div>
    <div class="col-md-12 splash-img">
      <img ng-src="/media/pickup_basketball_recap.png" alt="Pick Up Basketball Stats Recap">
    </div>
</div>

<div class="row splash-feature first-feature">
    <div class="col-md-6 splash-feature-text">
      <h2>Emphasis on Plays</h2>
      <p>
        Plays allow SaturdayBall to calculate deeper stats that standard stat lines wouldn't be able to provide.
      </p>
      <p>
        Enter in plays and sync them to your videos and highlight plays that you want to remember.
      </p>
    </div>
    <div class="col-md-6 splash-img">
      <img ng-src="/media/pickup_basketball_game.png" alt="Pick Up Basketball Stats Game">
    </div>
</div>
<div class="row splash-feature">
    <div class="col-md-6 splash-img hidden-xs">
      <img ng-src="/media/pickup_basketball_leaderboard.png" alt="Pick Up Basketball Leaderboard">
    </div>
    <div class="col-md-6 splash-feature-text">
      <h2>Leaderboards</h2>
      <p>
        See who the top performers are with Per 100 leaderboards.
      </p>
      <p>
        Our stats go beyond FGM, REB and AST.
      </p>
      <p>
        Advanced analytics such as True Passing %,
        True Shooting %, Def Rating and more are all easily calculated and avilable to your group.
      </p>
    </div>
    <div class="col-md-6 splash-img visible-xs-block">
      <img ng-src="/media/pickup_basketball_leaderboard.png" alt="Pick Up Basketball Leaderboard">
    </div>
</div>
<div class="row splash-feature">
    <div class="col-md-6 splash-feature-text">
      <h2>Player Profiles</h2>
      <p>
        Each player's profile details their total and per 100 stats, along with their game log and highlights.
      </p>
      <p>
        Look back and observe your play style over your time playing with a group.
      </p>
    </div>
    <div class="col-md-6 splash-img">
      <img ng-src="/media/pickup_basketball_profile.png" alt="Pick Up Basketball Profile">
    </div>
</div>

<div class="row splash-example">
    <div class="col-md-12">
      <h2>Want to see it in action?</h2>
      <a ng-href="/group/1/" target="_self" class="btn btn-default">Example Group</a>
    </div>
</div>

<div class="row splash-get-started">
    <div class="col-md-12">
      <h2>Get Started Today!</h2>
      <a ng-href="/group/create/" class="btn btn-primary">Create a Group</a>
    </div>
</div>
