<div class="page-header">
  <h3 class="accent">
    Settings
  </h3>
</div>

<form name="settingsform" ng-submit="save()" novalidate>
  <h4>Game Defaults</h4>
  <div class="row">
    <div class="form-group col-md-2">
      <label>*Game Type</label>
      <select class="form-control"
              ng-model="settings.game_type"
              ng-options="o.code as o.name for o in settingOptions.GAME_TYPES">
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>*Point Values</label>
      <select class="form-control"
              ng-model="settings.score_type"
              ng-options="o.code as o.name for o in settingOptions.SCORE_TYPES">
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>*Points To Win By</label>
      <select class="form-control"
              ng-model="settings.points_to_win"
              ng-options="o.code as o.name for o in settingOptions.POINTS_TO_WIN">
      </select>
    </div>
  </div>
  <h4>Leaderboard Settings</h4>
  <div class="row">
    <div class="form-group col-md-3">
      <label>*Possessions Min</label>
      <input ng-model="settings.possessions_min" type="number" style="width: 100%;" name="possessions_min" class="form-control" required>
      <p class="help-block">Number of possessions needed for a player to appear on leaderboards</p>
      <div ng-show="settingsform.possessions_min.$invalid && settingsform.possessions_min.$touched">
         Required!
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>*Field Goal Attempts Min</label>
      <input ng-model="settings.fga_min" type="number" style="width: 100%;" name="fga_min" class="form-control" required>
      <p class="help-block">Field goal attempts needed for a player to appear on leaderboards</p>
      <div ng-show="settingsform.fga_min.$invalid && settingsform.fga_min.$touched">
         Required!
      </div>
    </div>
  </div>
  <button ng-disabled="settingsform.$invalid" type="submit" class="btn btn-default btn-primary" style="margin-top:10px;">Save</button>
  {{ message }}
</form>
