@media screen and (max-width: 768px) {
    .game-title {
       font-size: 11px !important;
    }
}

@media screen and (max-width: 768px) {
    .score-board {
       font-size: 18px !important;
    }
}


.score-board {
	padding:0px;
	font-size:25px;
	border:1px solid grey;
	border-radius:4px;
}

.sb-top-team {
	padding-left:10px;
	background-color:white;
	text-align:left;
	border-top-left-radius:4px;
	display:inline;
}

.sb-top-team-score {
	background-color:#BBDEFB;
	text-align:center;
	border-top-right-radius:4px;
	display:inline;
	width:80px;
	float:right;
}

.sb-bottom-team{
	padding-left:10px;
	background-color:white;
	text-align:left;
	border-bottom-left-radius:4px;
	display:inline;
}

.sb-bottom-team-score {
	background-color:#FFCDD2;
	text-align:center;
	border-bottom-right-radius:4px;
	display:inline;
	width:80px;
	float:right;
}
