{% extends 'games/home.html' %}
{% load bootstrap3 %}
{% block head %}
{{ block.super }}
<script type="text/javascript" >
    $(document).ready(function(){
		$("input#id_time").attr('placeholder', 'HH:MM:SS');
	});
</script>
{% endblock %}
{% block title %}
	<title>{{ game.date }} - {{ game.get_full_title }}</title>
{% endblock %}
{% block content %}
	{% load basketball_tags %}
	<div class="container">
		<div class="row">
			<div class="col-md-9" style="font-size:25px;">
				<div class="col-md-12" style="text-align:center;">
					{% if prev_game %}
						<a href="{{ prev_game.get_absolute_url }}">{% bootstrap_icon "chevron-left" %}</a>
					{% endif %}
					<a href="{% url 'recap' game.pk %}">{{ game.date }}</a> - {{ game.get_full_title }}
					{% if next_game %}
						<a href="{{ next_game.get_absolute_url }}">{% bootstrap_icon "chevron-right" %}</a>
					{% endif %}
				</div>
			</div>
			<div class="col-md-7 col-md-offset-1 score-board">
				<div class="sb-top-team">Good Guys</div>
				<div class="sb-top-team-score">{{ game.team1_score }}</div>
				<div></div>
				<div class="sb-bottom-team">Bad Guys</div>
				<div class="sb-bottom-team-score">{{ game.team2_score }}</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-9">
				{% if game.youtube_id %}
				<div id="playeranchor" style="display:block;height:50px;margin-top:-50px;visibility:hidden;"></div>
				<div class="embed-responsive embed-responsive-16by9" style="margin-top:15px;">
					<div id=player></div>
				</div>
				{% endif %}
        <div>
    			<ul class="nav nav-tabs" role="tablist" style="margin-top:30px;">
      				<li role="presentation" class="active">
                  <a href="#boxscore" aria-controls="boxscore" role="tab" data-toggle="tab" style="font-weight:bold;">Box Score</a>
              </li>
              <li role="presentation">
                  <a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab" style="font-weight:bold;">Adv Stats</a>
              </li>
    			</ul>
    			<div class="tab-content">
      				<div role="tabpanel" class="tab-pane active" id="boxscore">
        					<br>
        					Good Guys
        					{% box_score team1_statlines "#BBDEFB" %}
        					<br><br>
        					Bad Guys
        					{% box_score team2_statlines "#FFCDD2" %}
      				</div>
              <div role="tabpanel" class="tab-pane" id="advanced">
        					<br>
        					Good Guys
        					{% adv_box_score team1_statlines "#BBDEFB" %}
        					<br><br>
        					Bad Guys
        					{% adv_box_score team2_statlines "#FFCDD2" %}
      				</div>
          </div>
        </div>
			</div>
			<div class="col-md-3" style="padding:0px;">
				<div class="col-md-12">
					{% if not request.user.is_anonymous %}
						<form action="{% url 'edit_game' game_id=game.id %}">
							<button type="submit" class="btn btn-primary btn-sm">Edit Game Details</button>
						</form>
					{% endif %}
					<div id="play_title"><h4 class="accent">Play By Plays</h4></div>
					{% if not request.user.is_anonymous %}
					<div><a id="toggle_fileform" style="cursor: pointer;">{% bootstrap_icon "menu-down" %}Toggle Upload Form</a></div>
					<form id='pbp_file_form' method="post" action="." enctype="multipart/form-data" style="display:none;">{% csrf_token %}
						<h3 style="margin-top:5px;">Upload Form</h3>
						{{ file_form.pbpFile.label_tag }}
						{{ file_form.pbpFile }}
						{{ file_form.pbpFile.help_text }}<br>
						All previous plays will be removed
						<button type="submit" name="submit" class="btn btn-primary btn-block">Upload</button>
					</form>
					<div><a id="toggle_form" style="cursor: pointer;">{% bootstrap_icon "menu-down" %}Toggle Play By Play Form</a></div>
					<form id='pbp_form' method=post action="" style="display:none;">{% csrf_token %}
						<div id="play_result_message"></div>
						<h3 style="margin-top:5px;">Add Play</h3>
						{% bootstrap_form form %}
						<button type="submit" name="submit" class="btn btn-primary btn-block">Save</button>
						<div id="play_message"></div>
					</form>
					{% endif %}
					<div><a id="toggle_filterform" style="cursor: pointer;">{% bootstrap_icon "menu-down" %}Toggle Play Filter Form</a></div>
					<form id="filter_form" method=get action"" style="display:none;">
						<h3 style="margin-top:5px;">Filter Play by Play</h3>
						<div class="form-group">{{ pbp_filter.form.primary_play.label_tag }}{{ pbp_filter.form.primary_play }}</div>
						<div class="form-group">{{ pbp_filter.form.primary_player.label_tag }}{{ pbp_filter.form.primary_player }}</div>
						<div class="form-group">{{ pbp_filter.form.secondary_play.label_tag }}{{ pbp_filter.form.secondary_play }}</div>
						<div class="form-group">{{ pbp_filter.form.secondary_player.label_tag }}{{ pbp_filter.form.secondary_player }}</div>
						<div class="form-group">{{ pbp_filter.form.assist.label_tag }}{{ pbp_filter.form.assist }}</div>
						<div class="form-group">{{ pbp_filter.form.assist_player.label_tag }}{{ pbp_filter.form.assist_player }}</div>
						<input type="Submit" class="btn btn-primary btn-block">
					</form>
				</div>
				<div id="playbyplay_list" class="col-sm-12" style="overflow-y: scroll; height:450px; margin-top:10px;" >
					{% include 'games/playbyplay_list.html' %}
				</div>
			</div>
		</div>
	</div>
	<script>
	    var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
			videoId: '{{ game.youtube_id }}',
			});
		}
		function seekPlayerToPlay(time) {
			player.cueVideoById({videoId:"{{ game.youtube_id}}",
					startSeconds:time,
					suggestedQuality:"hd1080"})
			jumpToPlayerAnchor()
			player.playVideo();
		}
    </script>
	<script type="text/javascript">
		function jumpToPlayerAnchor() {
			window.location = String(window.location).replace(/\#.*$/, "") + "#playeranchor";
		}
		function jumpToPbpAnchor() {
			window.location = String(window.location).replace(/\#.*$/, "") + "#play_title";
		}
		$("#toggle_fileform").click(function(){
			$('#pbp_file_form').toggle();
		});
		$("#toggle_form").click(function(){
			$('#pbp_form').toggle();
		});
		$("#toggle_filterform").click(function(){
			$('#filter_form').toggle();
		});
		var pbp_form = $('#pbp_form');
		pbp_form.submit(function () {
			$("#play_message").html("<br><font style='color:blue;'>Adding play. Please wait...</font><br><br>");
			$("#play_result_message").html("");
			$.ajax({
				type: "post",
				url: "{% url 'ajax_add_play' pk=game.pk %}",
				data: pbp_form.serialize(),
				success: function (data) {
					$('.form-control').val("");
					jumpToPbpAnchor();
					$('#play_result_message').html(data)
					$("#play_message").html('');
				},
				error: function(data) {
				$("#play_message").html("<br><font style='color:red';>Something went wrong!</font><br><br>");
				}
			});
			return false;
		});
		var frm = $('#filter_form');
		frm.submit(function () {
			$.ajax({
				type: frm.attr('method'),
				url: "{% url 'ajax_filter_plays' pk=game.pk %}",
				data: frm.serialize(),
				success: function (data) {
					jumpToPbpAnchor();
					$("#filter_form").toggle();
					$("#playbyplay_list").html(data);
				},
			});
			return false;
		});
	</script>
{% endblock %}
