{% extends 'games/home.html' %}
{% load bootstrap3 %}
{% block content %}
<h3>Edit Play</h3>
<form action="" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-3">
			{% bootstrap_field form.time %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{% bootstrap_field form.primary_play %}
		</div>
		<div class="col-md-3">
			{% bootstrap_field form.primary_player %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{% bootstrap_field form.secondary_play %}
		</div>
		<div class="col-md-3">
			{% bootstrap_field form.secondary_player %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{% bootstrap_field form.assist %}
		</div>
		<div class="col-md-3">
			{% bootstrap_field form.assist_player %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{% bootstrap_field form.top_play_rank %}
		</div>
		<div class="col-md-3">
			{% bootstrap_field form.top_play_players %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{% bootstrap_field form.description %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" style="margin-top:10px;">
			<button type="submit" name="submit" class="btn btn-primary btn-block">Update</button>
		</div>
		<div class="col-md-2" style="margin-top:10px;">
			<button type="submit" name="delete" id="delete" class="btn btn-danger btn-block">Delete</button>
		</div>
	</div>
</form>
{% endblock %}
