{% extends 'games/home.html' %}
{% load bootstrap3 %}
{% load basketball_tags %}
{% block content %}
	<div class="page-header">
		<h3 class="accent"><div style="display:inline;">Week Recap:</div> <div style="display:inline;">{{games.0.date }}</div></h3>
		</div>
		<div class="row">
			{% for game in games %}
				{% game_snippet game %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-md-9">
				<ul class="nav nav-tabs" role="tablist" style="margin:5px 0px;">
					{% if top_plays or not_top_plays %}
					<li role="presentation" {% if not default_tab %}class="active"{% endif %}>
						<a href="#highlights" aria-controls="home" role="tab" data-toggle="tab" style="font-weight:bold;">Highlights</a>
					</li>
					{% endif %}
					<li role="presentation" {% if default_tab == "totals" %}class='active'{% endif %}>
						<a href="#totals" aria-controls="totals" role="tab" data-toggle="tab" style="font-weight:bold;">Totals</a>
					</li>
				</ul>
				<div class="tab-content">
					{% if top_plays or not_top_plays %}
					<div role="tabpanel" class="tab-pane {% if not default_tab %}active{% endif %}" id="highlights" style="padding-top:15px;">

						<div class="embed-responsive embed-responsive-16by9" style="margin-top:15px;">
							<div id=player></div>
						</div>
						<div class="col-sm-6" style="margin-top:10px;margin-left:0px;">
							<h3 class="accent">Top Plays</h3>
							{% if top_plays %}
								{% for play in top_plays %}
									<div>
										{{ forloop.counter }} 
										{% if forloop.counter < 10 %}-{% endif %} <a onclick='seekPlayerToPlay({{ play.time.seconds }},"{{ play.game.youtube_id }}")' style="cursor:pointer;">
											{% bootstrap_icon "play" %}</a> - 
										{{ play.game.title }}: {{ play.description }}
									</div>
								{% endfor %}
							{% else %}
								No Top Plays
							{% endif %}
						</div>
						<div class="col-sm-6" style="margin-top:10px;">
							<h3 class="accent">Not Top Plays</h3>
							{% if not_top_plays %}
								{% for play in not_top_plays %}
									<div>
										{{ forloop.counter }} 
										{% if forloop.counter < 10 %}-{% endif %} <a onclick='seekPlayerToPlay("{{ play.time.seconds }}","{{ play.game.youtube_id }}")' style="cursor:pointer;">
											{% bootstrap_icon "play" %}</a> - 
										{{ play.game.title }}: {{ play.description }}
									</div>
								{% endfor %}
							{% else %}
								No Not Top Plays
							{% endif %}
						</div>
					</div>
					{% endif %}
					<div role="tabpanel" class="tab-pane{% if default_tab == "totals" %}active{% endif %}" id="totals" style="padding-top:15px;">
						{% recap_totals games %}
					</div>
				</div>
			</div>
			</div>
		</div>
		<script>
	    var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		
		var player;
		var timeout;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
			videoId: '{{ top_plays.0.game.youtube_id }}',
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
				}
			});
		}
		function onPlayerReady(event) {
			event.target.seekTo({{ top_plays.0.time.seconds }});
		}
		function seekPlayerToPlay(time,youtube_id) {
			player.cueVideoById({videoId:youtube_id,
					startSeconds:time,
					suggestedQuality:"hd1080"})
			jumpToAnchor();
			clearTimeout(timeout);
			timeout = setTimeout(stopVideo, 12000);
			player.playVideo();
		}
		var done = false;
		function onPlayerStateChange(event) {
		if (event.data == YT.PlayerState.PLAYING && !done) {
			clearTimeout(timeout);
			timeout = setTimeout(stopVideo, 12000);
			done = true;
			}
		}
		function stopVideo() {
	        player.stopVideo();
		}
		function jumpToAnchor() {
			window.location = String(window.location).replace(/\#.*$/, "") + "#player";
		}
    </script>
{% endblock %}
