<!-- Modal -->
<div id="playHelpModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close">&times;</button>
        <h3 class="modal-title">How To Enter Plays</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            The player statlines for a game will update as you enter in plays.
            Each play in our system can consist of 5 parts:
            <ul>
              <li><strong>Time</strong> - The time the play took place.</li>
              <li><strong>Primary Play</strong> - The primary stat being recorded.</li>
              <li><strong>Secondary Play</strong> - The possible secondary stat being recorded.</li>
              <li><strong>Assist Play</strong> - The possible assist or potential assist that preceeded the primary play.</li>
              <li><strong>Play Rank</strong> - A description of the play if you want to highlight it.</li>
            </ul>
            Here are some tips on how to record plays for different situations.
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4><strong><u>Entering in Time</u></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Try to enter in the time that the primary play occurred at.  The recommended
            time stamp for shots is when the player is in shooting motion, but you can enter
            it at any moment you want really.
            If you are entering plays for a game that is accompanied with a video,
            when a play's time is clicked on the game page the video will seek to 4 seconds
            before that play occurred so keep that in mind.
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4><strong><u>Entering in Blocks</u></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Plays recording blocks should be entered after the play that records field goal attempt.
            It's recommended to make the timestamp of a block play the same as the play that recorded
            the field goal attempt.
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4><strong><u>Entering in Shooting Fouls</u></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            When entering a foul that would be considered a shooting foul, don't record the shot attempt.
            This is how missed shooting fouls are normally recorded.  If the player makes the shot
            during the foul then the shot should be recorded and the foul waived.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay!</button>
      </div>
    </div>

  </div>
</div>
