{% extends 'base.html' %}
{% block title %}
	<title>Records</title>
{% endblock %}
{% block content %}
    {% load basketball_tags record_tags bootstrap3 %}
    <div class="page-header">
		<h3 class="accent">All-Time Records</h3>
	</div>
	<div>
		<div class="row">
			<div class="col-md-12">
				<a id="toggle_filterform" style="cursor: pointer;">{% bootstrap_icon "menu-down" %}Toggle Filter Options</a>
			</div>
		</div>
		<form id="filter_form" method="GET" style="display:none;">
			<div class="row">
				<div class="col-md-2">
					{% bootstrap_field form.points_to_win %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<button type="submit" name="submit" class="btn btn-primary btn-block">Filter</button>
				</div>
			</div>
		</form>
	</div>
<ul class="nav nav-tabs" role="tablist" style="margin-top:15px;">
		<li role="presentation" class="active">
			<a href="#game" aria-controls="home" role="tab" data-toggle="tab">Game</a>
		</li>
		<li role="presentation">
			<a href="#week" aria-controls="profile" role="tab" data-toggle="tab">Week</a>
		</li>
		<li role="presentation">
			<a href="#season" aria-controls="profile" role="tab" data-toggle="tab">Season</a>
		</li>
		{% comment %}
		<li role="presentation">
			<a href="#possessions" aria-controls="profile" role="tab" data-toggle="tab">Per 100</a>
		</li>
		<li role="presentation">
			<a href="#advpossessions" aria-controls="profile" role="tab" data-toggle="tab">Adv. Per 100</a>
		</li>
        {% endcomment %}
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="game">
			<h3 class="accent">Individual Game Records</h3>
			<div style="color: #777;font-size:17px;width:100%;">Games up to {{ points_to_win }}</div>
			{% game_records_table points_to_win %}
		</div>
		<div role="tabpanel" class="tab-pane" id="week">
			<h3 class="accent">Week Records</h3>
			<div style="color: #777;font-size:17px;width:100%;">Games up to {{ points_to_win }}</div>
			{% day_records_table points_to_win %}
		</div>
		<div role="tabpanel" class="tab-pane" id="season">
			<h3 class="accent">Season Records</h3>
			<div style="color: #777;font-size:17px;width:100%;">Games up to {{ points_to_win }}</div>
			{% season_records_table points_to_win %}
		</div>
	</div>
	<script type="text/javascript">
		$("#toggle_filterform").click(function(){
			$('#filter_form').toggle();
		});
	</script>
{% endblock %}

{% block active_tab %}
    <script>$('#records_link').addClass('active')</script>
{% endblock %}