{% extends 'base.html' %}
{% block title %}
	<title>Records</title>
{% endblock %}
{% block content %}
    {% load basketball_tags record_tags bootstrap3 %}
    <div class="page-header">
		<h3 class="accent">All-Time Records</h3>
	</div>
<ul class="nav nav-tabs" role="tablist" style="margin-top:15px;">
		<li role="presentation" class="active">
			<a href="#game" aria-controls="home" role="tab" data-toggle="tab">Game</a>
		</li>
       {% comment %}
		<li role="presentation">
			<a href="#season" aria-controls="profile" role="tab" data-toggle="tab">Season</a>
		</li>
		<li role="presentation">
			<a href="#advtotals" aria-controls="profile" role="tab" data-toggle="tab">Adv. Totals</a>
		</li>
		<li role="presentation">
			<a href="#possessions" aria-controls="profile" role="tab" data-toggle="tab">Per 100</a>
		</li>
		<li role="presentation">
			<a href="#advpossessions" aria-controls="profile" role="tab" data-toggle="tab">Adv. Per 100</a>
		</li>
        {% endcomment %}
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="game">
			<h3 class="accent">Individual Game Records</h3>
			{% game_records_table %}
		</div>
		<div role="tabpanel" class="tab-pane" id="season">
			<h3 class="accent">Season</h3>
		</div>
	</div>
{% endblock %}

{% block active_tab %}
    <script>$('#records_link').addClass('active')</script>
{% endblock %}