{% extends 'tab_base.html' %}

    {% block tab %}
        <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
            <a href="#season-{{ key }}" role="tab" data-toggle="tab">{{ key }}</a>
        </li>
    {% endblock %}

    {% block tab_content %}
        <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="season-{{key}}">
            <table class="table table-hover table-condensed">
                {% for row in value %}
                    {% if forloop.first %}
                        <tr style="background:#d9edf7;">
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-1" style="text-align:left;">{{ row.0 }}</th>
                            <th>{{ row.1 }}</th>
                            <th>{{ row.2 }}</th>
                            <th>{{ row.3 }}</th>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="font-weight: bold;">{% ifchanged row.0 %}{{ row.0 }}{% else %}{% endifchanged %}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endblock %}
</div>